<div class="widget-wrap">
    <h3 class="widget-title">关于我</h3>
    <div class="widget">
      <p>邮箱：admin(at)flygon.net</p>
      <p>QQ：562826179</p>
      <iframe width="100%" height="70" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=2216356441&verifier=2e06a95d&dpc=1"></iframe>
    </div>
</div>