<div class="widget-wrap">
    <h3 class="widget-title">广告</h3>
    <div class="widget">
      <script charset="gbk" type="text/javascript" src="http://union.dangdang.com/adapi/sc?id=8AHzSuYf8n&from=P-326637"></script>
    </div>
</div>