<footer id="colophon" role="contentinfo">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    All rights reserved.</p>
    <p>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></p>
</footer>